<div class="container">
    <div class="row pt-5">
        <h1>List of Branches</h1>
    </div>
    <div class="row pt-3">
        <div class="col table-responsive"  *ngIf="!errorInfo;else loadingOrError">
            <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Protected</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider" *ngIf="!loading;else showLoading">
                  <tr *ngFor="let branch of branches">
                    <td>{{branch.name}}</td>
                    <td>
                        <fa-icon *ngIf="branch.protected;else NotProtected" [icon]="faXmark"></fa-icon>
                        <ng-template #NotProtected>
                            <fa-icon [icon]="faXmark"></fa-icon>
                        </ng-template>
                    </td>
                    <td>
                        <span class="p-2" title="Show list of commits">
                            <a [routerLink]="['branch', branch.name]">
                                <fa-icon [icon]="faEye"></fa-icon>
                            </a>
                        </span>

                        <span title="Redirect to github">
                            <a  [href]="branch.githubLink" target="_blank">
                                <fa-icon [icon]="faGithub"></fa-icon>
                            </a>
                        </span>
                    </td>
                  </tr>
                </tbody>
                
                <ng-template #showLoading>
                    <tr>
                        <td [colSpan]="4" class="text-center h3">
                            Loading branches... <fa-icon [spin]="true" [icon]="faSpinner"></fa-icon>
                        </td>
                    </tr>
                </ng-template>

              </table>
              <ngb-pagination
                class="d-flex justify-content-center"
                (pageChange)="pageChanged($event)"  
                [(page)]="page"
                [pageSize]="pageSize"
                [collectionSize]="totalItems">
                [disabled]="loadingCommits"
          </ngb-pagination>
        </div>

        <ng-template #loadingOrError >
            <div *ngIf="errorInfo?.message" class="alert alert-danger" role="alert">
                {{errorInfo.message}}
              </div>
        </ng-template>
    </div>
</div>